<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53cc826161.js" crossorigin="anonymous"></script>
    <title>Gestion de empleados</title>
</head>

<body id="body">
    <header>
        <div class="icon_menu">
            <i class="fas fa-bars" id="btn_open" ></i>
        </div>
    </header>
       
    <div class="menu_side" id="menu-side">
        {% block menu %}      
        <div class="name_page">
            <i class="fab fa-maxcdn"></i>
            <h4>Marfrig</h4>
        </div>

        <div id="menu" class="option_menu">
            
            <a href="#">
                <div class="options">
                    <i class="fas fa-home" title="Inicio"></i>
                    <a href="/">Inicio</a>
                </div>  
            </a>
            <a href="#">
                <div class="options">
                    <i class="fas fa-users-cog" title="Administracion de Usuarios"></i>
                    <li> <a>Administracion de Usuarios</i></a>
                        <ul>
                        <li><a href="{{ url_for('crear_usuario') }}">Crear usuario</a></li>
                        <li><a href="consultar_usuario.html">Consultar usuario</a></li>
                        </ul>
                    </li>
                </div>  
            </a>
            <a href="#">
                <div class="options">
                    <i class="fas fa-users" title="Administracion de Empleados"></i>
                    <li> <a>Administracion de Empleados</a>
                        <ul>
                            <li><a href="#">Crear empleado</a></li>
                            <li><a href="consultar_empleado.html">Consultar empleado</a></li>
                        </ul>
                    </li>
                </div>  
            </a>
            <a href="#">
                <div class="options">
                    <i class="fas fa-users" title="Evaluación"></i>
                    <li> <a>Evaluación de empleados</a>
                        <ul>
                            <li><a>Empleados a evaluar</a></li>
                            <li><a>Empleados evaluados</a></li>
                        </ul>
                    </li>
                </div>  
            </a>

        </div>
    {% endblock %}
    </div>
    {% block contenido %}
    {% endblock %}
</body>
</html>