{% extends 'admin.html' %}
{% block contenido %}

<div class="form-login formulario">
    <form class="form" method="post" onsubmit="">
        {{ form.hidden_tag() }}
        
        <h3>Crear usuario</h3>
        <br>
        <div>
            <div class="control">
               {{ form.usuario(class="control", placeholder="Identificación") }}
        </div>
        <div>
            <div class="control">
                {{ form.usuario(class="control", placeholder="Nombre") }}
        </div>
        <div>
            <div class="control">
                {{ form.usuario(class="control", placeholder="Área") }}
        </div>
        <div>
            <div class="control">
                {{ form.usuario(class="control", placeholder="Cargo") }}
        </div>
        <div>
            <div class="control">
                {{ form.usuario(class="control", placeholder="Correo") }}
        </div>
        <div>
            <button type="submit">Administrador</button>
        </div>
        <div>
            <button type="submit">Evaluador</button>
        </div>
        <div>
            <button type="submit">Empleado</button>
        </div>
    </form>
    
</div>
{% endblock %}